{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact'%}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'health'%}">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
       {% block content %}{% endblock  %}
        
        <script src="" async defer></script>
    </body>
</html>